{
  "presets": [
    [
      "env",
      {
      }
    ]
  ],
  "plugins": [
    "transform-decorators-legacy", // For decorators support, should be listed first. For instance for MobX: @observable, @computed...
    "transform-class-properties", // https://babeljs.io/docs/plugins/transform-class-properties/
    "transform-object-rest-spread" // https://babeljs.io/docs/plugins/transform-object-rest-spread/
  ]
}
